.vertical-center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    }
.inputlong{
    width:100%;
    padding-left:100px;
    padding-right:100px;
}

.title{
    text-align:center;
}

.subtitle{
    color:#C7C7C7;
    text-align: center;
}

.productdesc{
    color:#C7C7C7;
    
}